{% extends 'base.html' %}
{% load image_tags %}
{% block content %}
<div class="bg-white p-6 rounded-lg shadow-lg max-w-lg mx-auto">
    <!-- Event Image -->
    <img src="{{ photo }}" alt="{{ event.title }}" class="w-full h-64 object-cover rounded-t-lg mb-4">
    
    <!-- Event Title and Details -->
    <h2 class="text-2xl font-bold text-center mt-4">{{ event.title }}</h2>
    <p class="text-center text-gray-500 font-semibold mt-2">Date: {{ event.date }}</p>
    <p class="text-center text-gray-500 font-semibold">Location: {{ event.location }}</p>
    
    <!-- Event Description -->
    <div class="mt-6">
        <h3 class="text-xl font-semibold">Description</h3>
        <p class="text-gray-700">{{ event.description }}</p>
    </div>

    <!-- Back to Events List Button -->
    <div class="mt-6 text-center">
        <a href="{% url 'event_list' %}" class="bg-blue-600 text-white py-2 px-4 rounded-full hover:bg-blue-500 transition duration-300">
            Back to Events List
        </a>
    </div>
</div>
{% endblock %}
